.Header {
  background-color: #eeeeee;
  padding: 5px;
  border-bottom: solid thin #cccccc;
}

button {
  padding-left: 5px;
  padding-right: 5px;
}

.Header img{
  width:110px;
  height:auto;
}

.homebutton {
  border: none;
}

.homebutton:focus {
  outline: 0;
  border: none;
}

.loggedin {
  margin-left: 15px;
  margin-right: 10px;
}


